body {
    color: #454545;
    font-family: Arial;
    margin: 20px;
}

h2 {
    margin-top: 30px;
}

.heading {
    display: flex;
}

.icon {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.example {
    height: 100px;
    margin-bottom: 30px;
}

.mono {
    background-color: #e2e2e2;
    font-family: monospace;
}